/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*end of reset*/

* {
    font-family: sans-serif;
}

#viewport {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.clickable {
    cursor: default;
}

.clickable:hover {
    background-color: grey;
    color: white;
}

.tool-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
}


.tool-box .tool {
    flex: auto;
    margin: 8px;
    /*border: 1px solid grey;*/
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px solid grey;
    overflow: auto;
}

.tool-title {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: .5em;
    color: #FF1200;
}


.font-family {
    margin-bottom: 12px;
}

span.font-family-title {
    font-weight: bold;
}

.tool-font-item {
    padding: .25em;
    padding-left: 1em;
    font-size: 80%;
}

.tool-font-item-selected {
    font-weight: bold;
}

.tool-xy, .tool-size, .tool-color {
    margin: 8px;
    padding: 8px;
    /*border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.75);*/
}

.tool-xy, .tool-size {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px solid grey;
}

.palette {
    text-align: center;
    padding: 8px;
    margin-bottom: 16px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: 1px solid grey;
}

.palette-item {
    float: left;
    margin: 3px;
    border: 1px solid grey;
}

.palette-item-none {
    background-image: url('./transparent.png');
}

.extruder-box {
    /*border: 1px solid blue;*/
    flex: 5;
    background-color: #DCDCDC;
}

.message-box {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    /*height: 64px;*/
    text-align: center;
    font-family: monospace;
    font-size: 130%;
    font-weight: bold;
    color: white;
}

.message-error {
    background-color: red;
}
.message-warning {
    background-color: orange;
}
.message-info {
    background-color: black;
}
.message-debug {
    background-color: green;
}


input.slider-input {
    width: 24px;
    border: none;
    text-align: left;
    padding-left: 1em;
    font-family: monospace;
    background-color: transparent;
    flex: 0 10 7%;
}

input.slider-input:focus {
    outline: none;
}

.slider-label {
    text-align: right;
    padding-right: 1em;
    font-style: italic;
}

.slider-line {
    height: 2px;
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: black;
}

.slider-square {
    background-color: black;
    height: 12px;
    width: 12px;
    top: 6px;
    border-radius: 6px;
}


textarea.tool-text-area {
    width: 90%;
    padding: 6pt;
    min-height: 3em;
    font-size: 18pt;
    border-style: dotted;
    border-color: grey;
}


.button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
